:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #282D35;
}

body{
  margin: 0;
}

.nav-list{
  display: flex;
  justify-content: flex-start;
  background-color: #21222A;
  margin-top: auto;
  height: 91px;
}

.nav-imag{
  width: 28.93px;
  height: 28.93px;
  position: relative;
  top: 31px;
  left: 26px;
}

.logo-name{
 
  color: #61DAFB;
  font-size: 22.25px;
  line-height: 26.93px;
  text-decoration: none;
  position: relative;
  top: 31px;
  left: 31.61px;
  font-weight: 700;
  font-size: 22.25px;
  line-height: 26.93px;
}


main{
  padding: 80px 45px;  
  background-image: url('/images/reactjs-icon.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
  color:#fff ;

}
.content-heading{
  font-size: 39.06px;
  line-height: 47.27px;
  font-weight: 700;
 
}

.list-content{

  width: 390px;
  height: 190px;
  max-width: 800px;
  
 
}

li::marker{
  color: #61DAFB;
  font-size: 1.5rem;
  
}
ul li{
  margin-bottom: 22px;
}
.list-item-content{
  line-height: 19.36px;
  font-weight: 400;
}